* {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(8, 8, 8);
        color: #fafafa;
    }

    .dynamic-border {
        border: 0.15rem solid #495057;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fafafa;
        color: rgb(8, 8, 8);
    }

    .dynamic-border {
        border: 0.15rem solid #181818;
    }
}

.nonfield {
    list-style-type: "!!! ";
    margin: 0;
    padding: 0 0 0 18px;
}

.sticky-table-header {
    position: sticky;
    /* navbar has a 66px height */
    top: 66px;
}

.clickable:hover {
    cursor: pointer ;
}