<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>djaNgoflix</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'djangoflix/images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'djangoflix/style.css' %}">
    <script src="https://kit.fontawesome.com/b00bdfc60f.js" crossorigin="anonymous"></script>
    <script src="{% static 'djangoflix/script.js' %}"></script>
</head>
<body>
    <nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-secondary position-sticky top-0">
        <container class="container-fluid">
            <a class="navbar-brand text-primary" href="{% url 'djangoflix:landing' %}" id="navbarBrand">
                <img src="{% static 'djangoflix/images/favicon.png' %}" height="40">
            </a>
            {% if request.session.profile %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav color-primary">
                    <li class="nav-item" id="navHome">
                        <a class="nav-link" href="{% url 'djangoflix:home' %}">Home</a>
                    </li>
                    <li class="nav-item" id="navBrowse">
                        <a class="nav-link" href="{% url 'djangoflix:browse' %}">Browse</a>
                    </li>
                    <li class="nav-item" id="navMovies">
                        <a class="nav-link" href="{% url 'djangoflix:movies' %}">Movies</a>
                    </li>
                    <li class="nav-item" id="navTV">
                        <a class="nav-link" href="{% url 'djangoflix:tv' %}">TV</a>
                    </li>
                    <li class="nav-item" id="navFavorites">
                        <a class="nav-link" href="{% url 'djangoflix:favorites' %}">Favorites</a>
                    </li>
                    <li class="nav-item" id="navSearch">
                        <a class="nav-link" href="{% url 'djangoflix:search' %}">Search</a>
                    </li>
                </ul>
            </div>
            <div class="float-end me-2">
               <i class="fa-solid fa-user clickable" id="navDropdownBtn" onclick="toggleNavDropdown(this)" role="menu" type="button" aria-expanded="false"></i>
            </div>
            {% elif request.session.account %}
            <p class="float-end mt-2"><a href="{% url 'accounts:logout' %}">Logout</a></p>
            {% else %}
            <div class="float-end d-flex justify-content-between gap-1 align-content-center">
                <p class="mt-2"><a href="{% url 'accounts:login' %}">Login</a></p>
                <p class="text-dark mt-2">or</p>
                <p class="mt-2"><a href="{% url 'accounts:register' %}">Sign Up</a></p>

            </div>
            {% endif %}
        </container>
    </nav>
    {% if request.session.profile %}
    <div data-bs-theme="dark" class="position-relative d-none" id="navDropdown">
       <div class="bg-body-secondary dynamic-border position-absolute top-0 end-0">
            <ul class="p-2">
                <li class="dropdown-item"><a href="{% url 'djangoflix:profiles' %}">Switch Profile</a></li>
                <li class="dropdown-item"><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
       </div>
    </div>
    {% endif %}
    <main class="py-4 px-5 mx-auto">
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>