{% extends "djangoflix/base.html" %}
{% load static %}
{% block content %}
{% if origin == "Browse" %}
<a href="{% url 'djangoflix:browse' %}" title="Back to Browse"><i class="back-arrow fa-solid fa-chevron-left"></i></a>
{% elif origin == "Movies" %}
<a href="{% url 'djangoflix:movies' %}" title="Back to Movies"><i class="back-arrow fa-solid fa-chevron-left"></i></a>
{% else %}
<a href="{% url 'djangoflix:tv' %}" title="Back to TV"><i class="back-arrow fa-solid fa-chevron-left"></i></a>
{% endif %}

<!-- no content found -->
{% if content == None %}
<br>
<hr>
<br>
<h1 class="text-center">🙁 We don't have any details for the selected content 🙁</h1>
<br>
<hr>
<br>

{% elif content.content_type == "Movie" %}
<h1 class="text-nowrap d-inline ps-3">{{ content.name }}</h1>
{% if favorite %}
<form action="{% url 'djangoflix:favorite' content.id origin 'details' 'remove' %}" method="POST"
    class="d-inline-flex flex-column ps-2 fs-3 text-danger clickable"
    onclick="submitForm('favoriteFormA')"
    id="favoriteFormA">
    {% csrf_token %}
    <i title="Unfavorite" class="fa-solid fa-heart"></i>
</form>
{% else %}
<form action="{% url 'djangoflix:favorite' content.id origin 'details' 'add' %}" method="POST"
    class="d-inline-flex flex-column ps-2 fs-3 text-danger clickable"
    onclick="submitForm('favoriteFormB')"
    id="favoriteFormB">
    {% csrf_token %}
    <i title="Favorite" class="fa-regular fa-heart"></i>
</form>
{% endif %}
<section class="ps-5 pe-3 mt-2 d-flex gap-2">
    <img src="{% static content.img_path %}" height="500">
    <div class="d-flex flex-column gap-1 align-content-start justify-content-start h-100">
        <p><span class="fw-bold">Runtime:</span> {{ content.duration }}minutes</p>
        <p><span class="fw-bold">Genre(s):</span> {{ genres|join:", " }}</p>
        <p><span class="fw-bold">Released:</span> {{ content.release_date }}</p>
        <p>{{ content.overview }}</p>
    </div>
</section>
<div class="d-flex ms-5 mt-2 watch-movie">
    <a href="{% url 'djangoflix:watch' content.id origin %}">
        <button class="btn btn-primary flex-grow-1"><i class="fa-solid fa-circle-play"></i> Watch</button>
    </a>
</div>
<hr>

{% else %} <!-- content_type == "TV" -->
<h1 class="text-nowrap d-inline ps-3">{{ content.name }}</h1>
{% if favorite %}
<form action="{% url 'djangoflix:favorite' content.id origin 'details' 'remove' %}" method="POST"
    class="d-inline-flex flex-column ps-2 fs-3 text-danger clickable"
    onclick="submitForm('favoriteFormA')"
    id="favoriteFormA">
    {% csrf_token %}
    <i title="Unfavorite" class="fa-solid fa-heart"></i>
</form>
{% else %}
<form action="{% url 'djangoflix:favorite' content.id origin 'details' 'add' %}" method="POST"
    class="d-inline-flex flex-column ps-2 fs-3 text-danger clickable"
    onclick="submitForm('favoriteFormB')"
    id="favoriteFormB">
    {% csrf_token %}
    <i title="Favorite" class="fa-regular fa-heart"></i>
</form>
{% endif %}
<section class="ps-5 pe-3 mt-2 d-flex gap-2">
    <img src="{% static content.img_path %}" height="500">
    <div class="d-flex flex-column gap-1 align-content-center justify-content-start">
        <p class="fw-bold">{{ content.duration }} Season{{ content.duration|pluralize }}</p>
        <p><span class="fw-bold">Genre(s):</span> {{ genres|join:", " }}</p>
        <p><span class="fw-bold">Released:</span> {{ content.release_date }}</p>
        <p>{{ content.overview }}</p>
    </div>
</section>
<br>
<section class="px-4">
    <label for="tvSeasons">Season: </label>
    <select title="Choose Season" id="tvSeasons" class="mb-1" onchange="toggleEpisodes(this)">
    {% for season in seasons %}
    {% if forloop.first %}
        <option selected value="{{ season.id }}">{{ season.name }}</option>
    {% else %}
        <option value="{{ season.id }}">{{ season.name }}</option>
    {% endif %}
    {% endfor %}
    </select>
    <hr>
    {% for season in seasons %}
    {% if forloop.first %}
    <section id="{{ season.id }}Episodes" class="selected w-100">
    {% else %}
    <section id="{{ season.id }}Episodes" class="d-none w-100">
    {% endif %}
        {% if not season.all_episodes %}
        <p class="fs-3">We can't find those episodes 🙁</p>
        <p class="fs-4">Please select a different Season.</p>
        <hr>
        {% else %}
        {% for episode in season.all_episodes %}
        <div class="d-flex gap-2 w-100">
            <div id="{{episode.id}}" class="position-relative" onmouseover="toggleWatchIcon(this)" onmouseout="toggleWatchIcon(this)">
                <img src="{% static episode.img_path %}" height="160" class="position-static">
                <div id="{{ episode.id }}-watch" class="d-none episode-watch-icon">
                    <a href="{% url 'djangoflix:watch' content.id origin %}">
                        <i class="fa-solid fa-circle-play"></i> Watch
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column gap-1 w-100">
                <div class="d-flex justify-content-between">
                    <h2 class="fs-6">{{ episode.name }}</h2>
                    <p><span class="fw-bold fs-6">Runtime:</span> {{ episode.runtime }}m</p>
                </div>
                <p>{{ episode.overview }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </section>
    {% endfor %}
</section>

{% endif %}

<section class="d-flex justify-content-between align-content-center gap-1 mt-3 ms-5 quick-links">
    <a href="{% url 'djangoflix:home' %}"><button class="btn btn-success"><i class="fa-solid fa-house"></i> Home</button></a>
    <a href="{% url 'djangoflix:movies' %}"><button class="btn btn-primary"><i class="fa-solid fa-film"></i> Movies</button></a>
    <a href="{% url 'djangoflix:tv' %}"><button class="orange-btn"><i class="fa-solid fa-tv"></i> TV</button></a>  
</section>

{% endblock %}