{% extends "djangoflix/base.html" %}
{% load static %}
{% block content %}

<container class="d-flex flex-column gap-2">
    {% if action %}
    <section class="action-container">
        <h1 class="text-primary">Action</h1>
        <ul class="action-list d-flex gap-1">
            {% for content in action %}
            <li id="action{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="action{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="action{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if comedy %}
    <section class="comedy-container">
        <h1 class="text-primary">Comedy</h1>
        <ul class="comedy-list d-flex gap-1">
            {% for content in comedy %}
            <li id="comedy{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="comedy{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="comedy{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if drama %}
    <section class="drama-container">
        <h1 class="text-primary">Drama</h1>
        <ul class="drama-list d-flex gap-1">
            {% for content in drama %}
            <li id="drama{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="drama{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="drama{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if scifi %}
    <section class="scifi-container">
        <h1 class="text-primary">Sci-Fi</h1>
        <ul class="scifi-list d-flex gap-1">
            {% for content in scifi %}
            <li id="scifi{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="scifi{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="scifi{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if thriller %}
    <section class="thriller-container">
        <h1 class="text-primary">Thriller</h1>
        <ul class="thriller-list d-flex gap-1">
            {% for content in thriller %}
            <li id="thriller{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="thriller{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="thriller{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if adventure %}
    <section class="adventure-container">
        <h1 class="text-primary">Adventure</h1>
        <ul class="adventure-list d-flex gap-1">
            {% for content in adventure %}
            <li id="adventure{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="adventure{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="adventure{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if animated %}
    <section class="animated-container">
        <h1 class="text-primary">Animated</h1>
        <ul class="animated-list d-flex gap-1">
            {% for content in animated %}
            <li id="animated{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="animated{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="animated{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if crime %}
    <section class="crime-container">
        <h1 class="text-primary">Crime</h1>
        <ul class="crime-list d-flex gap-1">
            {% for content in crime %}
            <li id="crime{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="crime{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="crime{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if fantasy %}
    <section class="fantasy-container">
        <h1 class="text-primary">Fantasy</h1>
        <ul class="fantasy-list d-flex gap-1">
            {% for content in fantasy %}
            <li id="fantasy{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="fantasy{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="fantasy{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if family %}
    <section class="family-container">
        <h1 class="text-primary">Family</h1>
        <ul class="family-list d-flex gap-1">
            {% for content in family %}
            <li id="family{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="family{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="family{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if kids %}
    <section class="kids-container">
        <h1 class="text-primary">Kids</h1>
        <ul class="kids-list d-flex gap-1">
            {% for content in kids %}
            <li id="kids{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="kids{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="kids{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if horror %}
    <section class="horror-container">
        <h1 class="text-primary">Horror</h1>
        <ul class="horror-list d-flex gap-1">
            {% for content in horror %}
            <li id="horror{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="horror{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="horror{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if mystery %}
    <section class="mystery-container">
        <h1 class="text-primary">Mystery</h1>
        <ul class="mystery-list d-flex gap-1">
            {% for content in mystery %}
            <li id="mystery{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="mystery{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="mystery{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if romance %}
    <section class="romance-container">
        <h1 class="text-primary">Romance</h1>
        <ul class="romance-list d-flex gap-1">
            {% for content in romance %}
            <li id="romance{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="romance{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="romance{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if tv_movie %}
    <section class="tv-movie-container">
        <h1 class="text-primary">TV Movie</h1>
        <ul class="tv-movie-list d-flex gap-1">
            {% for content in tv_movie %}
            <li id="tv_movie{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="tv_movie{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="tv_movie{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if war %}
    <section class="war-container">
        <h1 class="text-primary">War & Politics</h1>
        <ul class="war-list d-flex gap-1">
            {% for content in war %}
            <li id="war{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="war{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="war{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if history %}
    <section class="history-container">
        <h1 class="text-primary">History</h1>
        <ul class="history-list d-flex gap-1">
            {% for content in history %}
            <li id="history{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="history{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="history{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if documentary %}
    <section class="documentary-container">
        <h1 class="text-primary">Documentary</h1>
        <ul class="documentary-list d-flex gap-1">
            {% for content in documentary %}
            <li id="documentary{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="documentary{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="documentary{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    
    {% if reality %}
    <section class="reality-container">
        <h1 class="text-primary">Reality</h1>
        <ul class="reality-list d-flex gap-1">
            {% for content in reality %}
            <li id="reality{{ content.id }}" class="content-tile" onmouseover="toggleIcons(this)" onmouseout="toggleIcons(this)">
                <div class="position-relative">
                    <img src="{% static content.img_path %}" width="145" class="position-static">
                    <div id="reality{{ content.id }}-watch" class="d-none watch-icon-container">
                        <a href="{% url 'djangoflix:watch' content.id origin %}">
                            <i class="fa-solid fa-circle-play"></i> Watch
                        </a>
                    </div>
                    <div id="reality{{ content.id }}-view" class="d-none details-icon-container">
                        <a href="{% url 'djangoflix:details' content.id origin %}">
                            <i class="fa-solid fa-eye"></i> Details
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

</container>

{% endblock %}