{% extends "djangoflix/base.html" %}
{% load static %}
{% block content %}
<a href="javascript:history.go(-1)" id="TOP">
    <i class="back-arrow fa-solid fa-chevron-left"></i>
</a>

<!-- no content found -->
{% if content == None %}
<br>
<hr>
<br>
<h1 class="text-center">🙁 We don't have any details for the selected content 🙁</h1>
<br>
<hr>
<br>

{% elif content.content_type == "Movie" %}


{% else %} <!-- content_type == "TV" -->


{% endif %}

<section class="d-flex justify-content-center align-content-center gap-2">
    <a href="{% url 'djangoflix:home' %}"><button class="btn btn-success">Home</button></a>
    <a href="{% url 'djangoflix:movies' %}"><button class="btn btn-primary">Movies</button></a>
    <a href="{% url 'djangoflix:tv' %}"><button class="btn orange-btn">TV Shows</button></a>  
</section>

{% endblock %}